.main-navbar {

    background: linear-gradient(90deg, #541818 0%, #541818 100%);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.16);
    min-height: 100px;
    padding: 1.25rem 0;
}

.main-navbar .navbar-brand {
    margin-right: auto;
}

.main-navbar .container,
.main-navbar .navbar-collapse {
    align-items: center;
}

.main-navbar .navbar-brand img {
    height: 150px;
    width: 150px;
    object-fit: contain;

}

.custom-nav {
    gap: 1.5rem;

}

.main-navbar .navbar-brand:hover,
.main-navbar .nav-link:hover,
.main-navbar .dropdown-toggle:hover {
    color: #ffd700 !important;
}

.main-navbar .nav-link,
.main-navbar .dropdown-item {
    color: #d4af37 !important;
    font-size: 20px;
    font-weight: 500;
}

.main-navbar .nav-link.active,
.main-navbar .dropdown-item.active {
    color: #ffd700 !important;
    font-weight: bold;
    font-size: 20px;
}

.main-navbar .dropdown-menu {
    background: rgba(255, 255, 255, 0.98);
    border-radius: 0.5rem;
}

.main-navbar .dropdown-item {
    color: #212529 !important;
}

@media (max-width: 992px) {
    .main-navbar {
      
        padding: 1rem 0;
    }

    .main-navbar .navbar-brand {
        font-size: 18px;
    }

    .main-navbar .nav-link,
    .main-navbar .dropdown-item {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .main-navbar {
        padding: 0.8rem 0;
    }

    .main-navbar .navbar-brand {
        font-size: 16px;
    }

    .main-navbar .nav-link,
    .main-navbar .dropdown-item {
        font-size: 16px;
    }
}